<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Анкета для сбора базовой лексики</title>
        </head>
        <body>
            <form action = '/' method = 'get'>
                Язык, на который вы переводите слова <input type = 'text' name = 'language'> <Br>
                <Br>
                огонь <input type = 'text' name = 'fire'> <Br>
                нос <input type = 'text' name = 'nose'> <Br>
                идти <input type = 'text' name = 'go'> <Br>
                вода <input type = 'text' name = 'water'><Br>
                рот <input type = 'text' name = 'mouth'> <Br>
                язык <input type = 'text' name = 'tongue'><Br>
                кровь <input type = 'text' name = 'blood'><Br>
                кость <input type = 'text' name = 'bone'><Br>
                ты <input type = 'text' name = 'you_sg'> <Br>
                корень <input type = 'text' name = 'root'> <Br>
                приходить <input type = 'text' name = 'come'><Br>
                грудь <input type = 'text' name = 'breast'><Br>
                дождь <input type = 'text' name = 'rain'> <Br>
                я <input type = 'text' name = 'i'><Br>
                имя <input type = 'text' name = 'name'><Br>
                вошь <input type = 'text' name = 'louse'><Br>
                крыло <input type = 'text' name = 'wing'><Br>
                <Br>
                <input type = 'submit' value = 'отправить'>
            </form>
        </body>
    </html>