<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Анкета для сбора базовой лексики</title>
        </head>
        <body>
            <form action = '/search' method = 'post'>
                Язык <input type='text' name='language'> <Br>
                Слово <Br>
                <select multiple size='17' name='words_select' required>
                    <option value="fire">огонь</option>
                    <option value="nose">нос</option>
                    <option value="go">идти</option>
                    <option value="water">вода</option>
                    <option value="mouth">рот</option>
                    <option value="tongue">язык</option>
                    <option value="blood">кровь</option>
                    <option value="bone">кость</option>
                    <option value="you_sg">ты</option>
                    <option value="root">корень</option>
                    <option value="come">приходить</option>
                    <option value="breast">грудь</option>
                    <option value="rain">дождь</option>
                    <option value="i">я</option>
                    <option value="name">имя</option>
                    <option value="louse">вошь</option>
                    <option value="wing">крыло</option>
                </select>
                <input type = 'submit' value = 'искать'>
            </form>
        </body>
    </html>