<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>Анкета для сбора базовой лексики</title>
        </head>
        <body>
        <p>Спасибо за участие!</p><Br>
         <Br>
        <form action = '/json'>
            <input type = 'submit' value = 'данные в формате JSON'>
        </form>
        <Br>
        <form action = '/stats'>
            <input type = 'submit' value = 'статистика'>
        </form>
        <Br>
        <form action = '/search'>
            <input type = 'submit' value = 'поиск по данным'>
        </form>
        </body>
    </html>