<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Старая орфография</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link href="jumbotron.css" rel="stylesheet">
  <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/60BA7C89-6BC1-6245-8D31-3452A41A7D17/main.js" charset="UTF-8"></script>
  </head>

  <body>

    <main role="main" class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <Br>
                {{ news }}
                <Br>
                <form action="/" method="get">
                    <input type="submit" value="Назад">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </main>
  </body>
</html>